	*,html,body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.bg-dark {
	background:  linear-gradient(100deg, #cc4652, #1b465b);
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif!important;
    font-weight: bold;
    position: relative;
    letter-spacing: 1px;
}
h6 {
	color: #333;
    
    font-size: 2rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
a {
	text-decoration: none!important;
	cursor: pointer;
}
.text-danger:hover {
	color: #bf0416!important;
}
.top {
	color: #1b465b;
}
.top-name p:nth-child(1){
	font-size: 40px;
}
.top-name p{
	margin-bottom: 0px;
	color: #133242;
}
a.navbar-brand.font-weight-bold.text-danger, a.navbar-brand.ml-5 {
    font-size: 40px;
}
.bgcolor {
	background:  linear-gradient(100deg, #cc4652, #1b465b);
}
nav .nav-link {
    display: block;
    padding: 0.9rem 1rem;
}
.team, .index-services {
	/*background:  linear-gradient(100deg, #cc4652, #1b465b);*/
	padding: 50px 0px;
    background: #f1f1f1;
    background: white;
}
.services,.pd-card {
	background-color: #f0f0f0;
	padding: 50px 0px;
}
/*testimonial css start*/
.testimonial h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
.testimonial h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.testimonial .col-center {
	margin: 0 auto;
	float: none !important;
}
.testimonial .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.testimonial .carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.testimonial .carousel .item .img-box {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.testimonial .carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.testimonial .carousel .testimonial {
	padding: 30px 0 10px;
}
.testimonial .carousel .overview {	
	font-style: italic;
}
.testimonial .carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.testimonial .carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.testimonial .carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.testimonial .carousel .carousel-indicators {
	bottom: -40px;
}
.testimonial .carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.testimonial .carousel-indicators li, .carousel-indicators li.active {
    width: 30px;
    height: 10px;
}
.testimonial .carousel-indicators li {	
	background: #999;
	background: linear-gradient(100deg, #cc4652, #1b465b);
	border-color: transparent;
}
.testimonial  li:hover {	
	background: #252b3b;
	border-color: transparent;
}
/*testimonial css end*/
.contact {
	background:  linear-gradient(100deg, #cc4652, #1b465b);
    padding: 30px 0px;
    color: white;
}
.contact .form-control {
    color: #495057;
    background-color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*footer css*/
.footer-content .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
    color: black;
}

.footer-content .footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
    color: black
}
.footer-content .nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-content .nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

.footer-content ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content .social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.footer-content .social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-content .nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.footer-bottom {
	background:  linear-gradient(100deg, #cc4652, #1b465b);
	color: white;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,1.15)!important;
}
/*footer css end*/
/*about page css*/
.list-group-item.active {
    z-index: 2;
    color: black;
    background-color: #fff;
    border-color: black;
}
.list-group-item {
    z-index: 2;
    color: black;
    background:  #fff;
    border-color: black;
}
.list-group-item:hover {
    z-index: 2;
    color: #fff;
    background:  linear-gradient(100deg, #cc4652, #1b465b);
    border-color: black;
}

/*about page css end*/
/*gallery page css*/
.gallery .img-thumbnail{
	background: linear-gradient(100deg, #cc4652, #1b465b);	
    border: 1px solid #674a56;	
}
.shade {
    box-shadow: 15px 9px 5px -3px rgba(0,0,0,0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.5), 0 2px 19px 0 rgba(0, 0, 0, 1);
}

/*gallery page css end*/

/*contact us css*/
.contactus img {
	border-radius: 10px
}
.contactus .card-header {
	background: linear-gradient(100deg, #cc4652, #1b465b);	
}
.contactus button.btn.btn-link {
	color: white;
	text-decoration: none;
}
.contactus button.btn.btn-link:hover {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
/*contact us css end*/
/*ptpd css start*/
.pd p {
	margin-bottom: 0px;
}
/*ptpd css end*/

@media (max-width: 460px) { 
	img.img-fluid.my-2.d-inline {
		width: 500px;
		height: 83px;
}
}
@media (min-width: 460px) and (max-width: 520px) {
	img.img-fluid.my-2.d-inline {
		width: 230px;
		height: 83px;
}
}
@media (min-width: 520px) and (max-width: 600px) { 
	img.img-fluid.my-2.d-inline {
		width: 120px;
		height: 83px;
}	

}
/*header icon css*/
i.fab.fa-facebook-square.fa-2x.ml-3.float-right {
    color: #3e5b99!important;
}
i.fab.fa-instagram.fa-2x.ml-3.float-right {
    color: #e64356!important;
}
i.fab.fa-twitter-square.fa-2x.ml-3.float-right {
    color: #1c9deb!important;
}
i.fab.fa-linkedin.fa-2x.ml-3.float-right {
    color: #0077b5!important;
}
i.fab.fa-youtube.fa-2x.ml-3.float-right {
    color: #ff0000;
}
/*services css start*/
#team {
    background: #f1f1f1;
    background: white;
}

#team .btn-primary:hover,
#team .btn-primary:focus {
    background-color: #0099CC;
    border-color: #0099CC;
    box-shadow: none;
    outline: none;
}

#team .btn-primary {
    color: #fff;
    background-color: #0099CC;
    border-color: #0099CC;
}
#team section .section-title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
    background: #f1f1f1;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

/*.frontside .card,
.backside .card {
    min-height: 312px;
}
*/
.backside .card a {
    font-size: 18px;
    color: #0099CC !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: black !important;
}
.frontside .card .card-title {
    color: white !important;
    position: absolute;
    bottom: 20px;
    letter-spacing: 2px;
}
.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/*services css end*/